# 1.Manipulate using a list.
    i.  To add new element to the end of the list.
    ii. To reverse elements in the list.
    iii.To display the same list of elements multiple times.
    iv. TO concatenate two list.
    v.  To sort the elements in the list in ascending order.

In [6]:
#i. To add new element to the end of the list.

list_a=["sriram",1,2,3,"ASE"]
list_a.append(123)
print("new list wih appended items:",list_a)
list_a.append("Python")
print("new list wih appended items:",list_a)

new list wih appended items: ['sriram', 1, 2, 3, 'ASE', 123]
new list wih appended items: ['sriram', 1, 2, 3, 'ASE', 123, 'Python']

In [73]:
#ii. To reverse elements in the list.

list_a=['sriram', 1, 2, 3, 'ASE', 123, 'Python']
print(list_a)

list_a.reverse()

print("reversed list :",list_a)
print(list_a)

['sriram', 1, 2, 3, 'ASE', 123, 'Python']
reversed list : ['Python', 123, 'ASE', 3, 2, 1, 'sriram']
['Python', 123, 'ASE', 3, 2, 1, 'sriram']

In [74]:
#iii. To display the same list of elements multiple times.
list_a.reverse()
print(list_a*3)

for i in range(0,3):
    print(list_a)

['sriram', 1, 2, 3, 'ASE', 123, 'Python', 'sriram', 1, 2, 3, 'ASE', 123, 'Python', 'sriram', 1, 2, 3, 'ASE', 123, 'Python']
['sriram', 1, 2, 3, 'ASE', 123, 'Python']
['sriram', 1, 2, 3, 'ASE', 123, 'Python']
['sriram', 1, 2, 3, 'ASE', 123, 'Python']

In [19]:
#iv.  TO concatenate two list.

list_b=[1,23,4,5,False]
list_c=[7,8,9.0,True]
list_d=list_b+list_c
print("concatenated_list :" ,list_d)

concatenated_list : [1, 23, 4, 5, False, 7, 8, 9.0, True]

In [21]:
#v.  To sort the elements in the list in ascending order.

list_numbers=[7,8,3,5,0,2,3,4,5,85,3,90]
list_numbers.sort()
print("Sorted_list:",list_numbers)

Sorted_list: [0, 2, 3, 3, 3, 4, 5, 5, 7, 8, 85, 90]

# 2.Write a python program to do in the tuples.
i.   TO add new elements to the end of the tuples.

ii.  TO reverse elements to the end of the tuples.

iii. TO display the elements of the same tuples multiple times.

iv.  TO concatenate two tuples.

v.   To sort the elements in the list in ascending order.

In [24]:
#i.   TO add new elements to the end of the tuples.
  
tuple_a = ("a", "b", "c", 1, 2,3,9.3)
print(tuple_a)

'''tuples are immutable so we cant add an element to tuple_a rather
   we can type cast tuple_a into list and can add an element and 
   convert  it back into tuple'''
    
tuple_to_list=list(tuple_a)

tuple_to_list.append("added tuple_to_list_item") 

tuple_a = tuple(tuple_to_list)
print(tuple_a)

('a', 'b', 'c', 1, 2, 3, 9.3)
('a', 'b', 'c', 1, 2, 3, 9.3, 'added tuple_to_list_item')

In [35]:
#ii.  TO reverse elements to the end of the tuples.

print("reversed tuple:",tuple_a[::-1])

reversed_tuple =tuple(reversed(tuple_a))

print(reversed_tuple)

reversed tuple: ('added tuple_to_list_item', 9.3, 3, 2, 1, 'c', 'b', 'a')
('added tuple_to_list_item', 9.3, 3, 2, 1, 'c', 'b', 'a')

In [39]:
#iii TO display the elements of the same tuples multiple times.
print(tuple_a*2)
     
for i in range(0,3):
    print(tuple_a)

('a', 'b', 'c', 1, 2, 3, 9.3, 'added tuple_to_list_item', 'a', 'b', 'c', 1, 2, 3, 9.3, 'added tuple_to_list_item')
('a', 'b', 'c', 1, 2, 3, 9.3, 'added tuple_to_list_item')
('a', 'b', 'c', 1, 2, 3, 9.3, 'added tuple_to_list_item')
('a', 'b', 'c', 1, 2, 3, 9.3, 'added tuple_to_list_item')

In [41]:
#iv.  TO concatenate two tuples.

tuple_b=(1,2,3,4,6,9.0,"fg")
tuple_c =(3,4,5,6,"gh")
tuple_d = tuple_b+tuple_c
print("concatenated tuple:",tuple_d)

concatenated tuple: (1, 2, 3, 4, 6, 9.0, 'fg', 3, 4, 5, 6, 'gh')

In [46]:
 # v. To sort the elements in the list in ascending order.

tuple_unsorted =(7,3,6,9,3,0,42,6,8,4,65,7,76,35,98)

sorted_tuple = tuple(sorted(tuple_unsorted))

print("sorted_tuple:",sorted_tuple)

sorted_tuple: (0, 3, 3, 4, 6, 6, 7, 7, 8, 9, 35, 42, 65, 76, 98)

# 3.Write a python program to implement the following using list.


i.   create a list with integers (minimum 10 numbers)

ii.  How ot display the last number in the list.

iii. Command for displaying the values from the list[0:4]

iv.  Command for displaying the values from the list[2:]

v.   Command for displaying the values from the list[:6]

In [48]:
#i. create a list with integers (minimum 10 numbers)
list_s = [25,75,90,22,56,78,54,69,43,67,86,54,34,33,45]
print(list_s)

[25, 75, 90, 22, 56, 78, 54, 69, 43, 67, 86, 54, 34, 33, 45]

In [52]:
#ii. How ot display the last number in the list.
print("last number of list is:",list_s[-1])#we can fine last number by negative indedxing

print(list_s[len(list_s)-1])#we can alos find it by finding length and using n-1 of length of list

last number of list is: 45
45

In [53]:
#iii. Command for displaying the values from the list[0:4]
print(list_s[0:4])

[25, 75, 90, 22]

In [54]:
#iv. Command for displaying the values from the list[2:]
print(list_s[2:])

[90, 22, 56, 78, 54, 69, 43, 67, 86, 54, 34, 33, 45]

In [56]:
#v. Command for displaying the values from the list[:6]
print(list_s[:6])

[25, 75, 90, 22, 56, 78]

# 4.Write a python program :tuple1=(10,50,20,40,30)

    i. To display the elements 10 and 50 from tuple1.
    ii. TO display the length of a tuple 1.
    iii. TO find the minimum elements from tuple1
    iv. To add all the elements in the tuple1.
    v.TO display the same tuple1 multiple times.

In [76]:
#i. To display the elements 10 and 50 from tuple1.
tuple_1=(10,50,20,40,30)

print(tuple_1[0:2])

(10, 50)

In [77]:
#ii. TO display the length of a tuple 1.
print(len(tuple_1))

5

In [78]:
#iii. TO find the minimum elements from tuple1
print(min(tuple_1))

10

In [82]:
#iv. To add all the elements in the tuple1.
print(sum(tuple_1))

sum_of_tuple_1=0

for i in range(0,len(tuple_1)):
    sum_of_tuple_1=sum_of_tuple_1+tuple_1[i]
print("sum is:",sum_of_tuple_1)

150
sum is: 150

In [84]:
#v.TO display the same tuple1 multiple times.
for i in  range(len(tuple_1)):
    print(tuple_1)

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5.Write a python program
 
i. TO calculate the length in a string.
ii. TO reverse words in a string.
iii. To display the same string multiple times.
iv.  To concatenate two strings
v. Str1="South india", using string slicing to display"india"

In [85]:
#i. TO calculate the length in a string. 
str1="South india"
str2="North india"

print(len(str1))

11

In [87]:
#ii. TO reverse words in a string.

print(str1[::-1])

aidni htuoS

In [90]:
# iii. To display the same string
for i in range(len(str1)-4):
    print(str1)

South india
South india
South india
South india
South india
South india
South india

In [94]:
#iv. To concatenate two strings
print(str1+" & " +str2)

South india & North india

In [95]:
#v. Str1="South india", using string slicing to display"india"
print(str1[6:])

india

# 6.perform the following

i.Creating a dictionary
ii. Accesing values and keys in dictionary
iii. updating the dictionary using a fucntion
iv.clear and delete dictionary values

In [112]:
#i.Creating a dictionary
dict_a={
    "name": "sriram",
    "roll-no": 25,
    "age":22,
    "role":"ASE"
}
print(dict_a)

{'name': 'sriram', 'roll-no': 25, 'age': 22, 'role': 'ASE'}

In [99]:
#ii. Accesing values and keys in dictionary
print(dict_a["name"])
print(dict_a.get("name"))

sriram
sriram

In [105]:
#iii. updating the dictionary using a fucntion
dict_a.update({"roll-no":75})
print(dict_a)
dict_a.update({"games":"cricket"})
print(dict_a)

{'name': 'sriram', 'roll-no': 75, 'age': 22, 'role': 'ASE', 'games': 'cricket'}
{'name': 'sriram', 'roll-no': 75, 'age': 22, 'role': 'ASE', 'games': 'cricket'}

In [108]:
# iv.clear and delete dictionary values
del dict_a["games"]
print(dict_a)
dict_a.clear()
print(dict_a)

{'name': 'sriram', 'roll-no': 75, 'role': 'ASE'}
{}

# 7.python program to insert a number to any position in a list

In [7]:
list_1=[1,2,3,"sriram"]
index=int(input())
if index>len(list_1):
    print("list index out of range")
else:
    number_to_insert=int(input())
    c=type(number_to_insert)
    if c==int:
        list_1.insert(index,number_to_insert)
        print(list_1)
    else:
        print("provide a number")

2
4
[1, 2, 4, 3, 'sriram']

# 8.Python program to delete an element from the list by index

In [11]:
del_List=[1,2,3,4,5,"virat","dhoni"]
del_index=int(input())
if type(del_index)==int:
    item=del_List[del_index]
    del_List.remove(item)
else:
    print("provide a number")
print(del_List)

2
[1, 2, 4, 5, 'virat', 'dhoni']

# 9.write a program to display a number from 1 to 100.

In [14]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find the sum of all items in a tuple.

In [15]:
tuple=(1,2,34,4,4,4,4,3,2,2,14,5,6,7,7,66,5)
tuple_sum=0
for i in tuple:
    tuple_sum=tuple_sum+i
print(tuple_sum)

170

# 11.create a dictionary containing three lambda fucntions square,cube and square root.
i)E.g dict("square":)function for squaring "cube:"fuction for cube "squareroot":function for square root
ii)passs the values (input from the user) to functions in the dictionary respectivley.
iii)Then add the outputs of each fucntion and print it.

In [16]:

dict = {
    "square": lambda x: x ** 2,
    "cube": lambda x: x ** 3,
    "squareroot": lambda x: x ** 0.5
}
num_input = int(input())
sum = 0
for i, j in dict.items():
    result = j(num_input)
    print(f"{i}: {result}")
    sum += result
print("Sum of the outputs:", sum)

2
square: 4
cube: 8
squareroot: 1.4142135623730951
Sum of the outputs: 13.414213562373096

# 12.A list of words is given. Find the words from the list that they have thier second character in upperase.

In [18]:
ls=["hello","Dear","hOw","ARe","You"]
for i in ls:
    second_char=i[1]
    if second_char==second_char.upper():
        print(i)

hOw
ARe

# 13.A dictionary of names and thier weights on earth is given. Find how much they will weigh on the moon. (use map ans mabda functions)formula:wMoon=(Earth*Gmoon)?Gearth
i) weight of people in kg 
.weightonEarth = {"john":45,"shelly":65,"marry":35}
ii)gravitational force on moon :1.622 m/s**2
.Gmoon=1.622
iii)
gravitational force on the earth :9.81 m?s**2
. Gearth=9.81

In [31]:
WeightOnEarth={'John':45,'Shelly':65,'Marry':35} 
GMoon=1.622 
GEarth=9.81 
a=map(lambda x : (x,round((WeightOnEarth[x]/GEarth)*GMoon,2)), WeightOnEarth)
b=list(a)
print(b)

[('John', 7.44), ('Shelly', 10.75), ('Marry', 5.79)]

# CONTROL STRUCTURE

# 3.write a python program to search for the string in the given list

In [22]:
string=input()
list_to_search=[1,2,3,"ram","ravi","rohit","babar","rizwan"]
if string in list_to_search:
    print(string)
else:
    print("string is not present in the list")

pandya
string is not present in the list

# 4.write a python program that accepts a string and calculates the number of uppercase letters and lower case letters in the given string.

In [8]:
string_a=input()
uppercase_char=0
lowercase_char=0
sp_char=" !@#$%^&*(){}|\?/><.~`"";:'"
for i in string_a:
    if i in sp_char:
        continue
    elif i==i.upper():
        uppercase_char+=1
    elif i==i.lower():
        lowercase_char+=1
    else:
        continue

        
print("uppercase letters are:",uppercase_char)
print("lowercase letters are:",lowercase_char)

HELLO World
uppercase letters are: 6
lowercase letters are: 4

# 5.write a Python program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [10]:
first_num=12
second_num=37
sum_even=0
sum_odd=0
for i in range(first_num,second_num+1):
    if i%2==0:
        sum_even+=i
    else :sum_odd+=i
print(sum_even)
print(sum_odd)

312
325

# 6.write a program to print table of any number

In [12]:
table_num=int(input())
for i in range(1,11):
    res=table_num*i
    print(str(table_num)+" x "+str(i)+" = "+str(res))

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

# 8. wirte a python program to implement arithmetic operationd using nested if statements.

In [16]:
operand_1=int(input())
operand_2=int(input())
operator=input()
if operator=="+":
    resl=operand_1 + operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))
elif operator=="-":
    resl=operand_1 - operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))
elif operator=="*":
    resl=operand_1 * operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))
elif operator=="/":
    resl=operand_1 / operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))
elif operator=="//":
    resl=operand_1 // operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))
elif operator=="**":
    resl=operand_1 ** operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))
elif operator=="%":
    resl=operand_1 % operand_2
    print(str(operand_1)+str(operator)+str(operand_2)+" = "+str(resl))

5
6
*
5*6 = 30

# 9.writr a python program to take temparature in celsius and convert it into farenheit.

In [1]:
celsius = float(input())

fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

38.5
38.5 degree Celsius is equal to 101.3 degree Fahrenheit

# 10. write a python program to find a maximum and a minimum number in a list without using an inbuilt function.

In [2]:
list_with_min_max =[1,24,56,7,81,23,45,9,35,191,92,11,21,30,0]
min_of_ls = 1
max_of_ls = 0
for i in list_with_min_max:
    if i>max_of_ls:
        max_of_ls=i
    elif i<=min_of_ls:
        min_of_ls=i
print(min_of_ls)
print(max_of_ls)

0
191

# 11.write a python program  to print out the number of second in 30-days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute

In [6]:
number_of_days_in_a_month=30
no_of_hours_in_day=24
number_of_seconds_in_a_day=no_of_hours_in_day*60*60
number_of_seconds_in_a_month=number_of_seconds_in_a_day*number_of_days_in_a_month
print("number_of_seconds_in_a_month :",number_of_seconds_in_a_month)

number_of_seconds_in_a_month : 2592000

# 12.write a program in python to print out the number of seconds a in a year

In [5]:
number_of_days_in_a_year=365
number_of_days_in_leap_year=366
no_of_hours_in_day=24
number_of_seconds_in_a_day=no_of_hours_in_day*60*60
number_of_seconds_in_year=365*number_of_seconds_in_a_day

print("the number of seconds in a year :",number_of_seconds_in_year)

the number of seconds in a year : 31536000

# 2.Write the python code that calculates the salary of an employee. prompt the user to enter the Basic Salary,HRA,TA and DA . Add these components to calculate the gross salary.Also deduct 10% of salary from the Gross salary to be paid as tax and display gross minus tax as net salary.

In [5]:
HRA=int(input())
SA=int(input())
TA=int(input())
DA=int(input())
Gross = HRA + SA + TA + DA
deduction = 0.1 * Gross
total = Gross -deduction
print(total)

80000
500
1000
500
73800.0

# 15.If the age of Ram,Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of three.

In [3]:
Ram=int(input())
Sam=int(input())
khan=int(input())
eldest=0
youngest=0
if Ram>Sam and Ram>khan:
   
    print("RAM is ELdest")
elif Sam>Khan:
    
    print("Sam is ELdest")
else :
    
    print("Khan is ELdest")

if Ram<Sam and Ram<khan:
    
    print("Ram is Youngest")
elif Sam<khan:
    print("Sam is Youngest")
else:
    print("Khan is Youngest")

56
54
42
RAM is ELdest
Khan is Youngest

# 1.Write a Python program to find  the first first N prime numbers.

In [3]:
def check_if_prime(n):
 
  if(n==1 or n==0):
    return False
   
 
  for i in range(2,n):
   
    if(n%i==0):
      return False
   
  
  return True
 
 

n=int(input());

for i in range(1,n+1):
  
  if(check_if_prime(i)):
    print(i,end=" ")

100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# 7.Write a python program to SUm thr first 10 prime numbers

In [8]:
def check_if_prime(n):
 
  if(n==1 or n==0):
    return False
   
 
  for i in range(2,n):
   
    if(n%i==0):
      return False
   
  
  return True
 
 

n=10
sum_of_primes=0

for i in range(1,n+1):
  
  if(check_if_prime(i)):
        sum_of_primes+=i
        
print(sum_of_primes)

17

# 13.A high speed train can travel at an average speed of 150mph,how long will it take a train travelling at this speed to travel from london to glasgow which is 414 miles away?

In [34]:
speed_of_train = 150
distance = 414
time_hours = distance / speed
print(time_hours,"hours")

2.76 hours

# 14.write a python program  that defines a variable called days_in_each_school_year and assign 192 to the variable. the program should then print out the total hours that you spend in school form year to 7 year 11, if each day youn spend 6 hours in school days_ineach_school_year =192

In [35]:
days_in_each_school_year = 192


years = 4


hours_per_day = 6


total_hours = years * days_in_each_school_year * hours_per_day
print(total_hours,"hours")

4608 hours

# 16.write a python program to rotate a list by right n times and without slicing technique.

In [38]:
def list_rotation(list_n, n):
      

    n %= len(list_n)  

    for _ in range(n):
        pop_element = list_n.pop()
        list_n.insert(0, pop_element)


list_of_num = [25,12,21,21,12]
n = 3 


list_rotation(my_list, n)
print("Rotated List:", my_list)

Rotated List: [5, 1, 2, 3, 4]

# 17.pythons program to print the patterns given below.

In [40]:
def pattern_number(s,q):
    num=1
    if s>s-q:
        q=s-q
    for i in range (0,q):
            num=num*(s-i)
            num=num//(i+1)
    return num




def triangle_pattern(number):
    for i in range(0,number):
        for j in range(0,i+1):
            print(pattern_number(i,j),end=" ")
        print()

number=7
triangle_pattern(number)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [41]:
string="python"
for i in range(len(string)+1):
    print(string[:i])

p
py
pyt
pyth
pytho
python

In [42]:
row_input=int(input())
for i in range(1,row_input+1):
    print("*" * i)

5
*
**
***
****
*****

In [1]:
a_input=int(input())
for i in range(1,a_input+1):
    if i==1:
        print(" "*(a_input-i)+"* ")
    elif i==a_input:
        print("* "*a_input)
    else:
        print(" "*(a_input-i)+"* "*i)

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *